//Configuration Vars
$default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font:   "Oxygen", Helvetica, sans-serif;
$dark-gray: #4d4d4d;
//$primary: #E97A13; //orange
$primary: #FF7417;
//$primary: #d2322d; //red
//$primary: #1C9660; //green
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
