# Laravel ignores
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php

# Environment-dependent files
app/config/database.php
app/config/mail.php

# Third-party packages 
public/components*
bower_components/*
node_modules/*

# Public
public/images
public/css
public/js
public/assets/*
app/assets/public/images/images*.png
app/assets/public/images/icon-*.png
app/assets/public/css/*
app/assets/public/js/*
public/packages/

# Temporary files
.DS_Store
Thumbs.db
.sass-cache
.*.swp
tasks.TODO

